body {
  background-color: rgba($color: #f0e9e9, $alpha: 1.0);

}
#app {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
svg {
  background-color: rgba($color: #ffffff, $alpha: 1.0);
  padding: 5%;
  // border-style: solid;
  // border-color: rgba($color: #aaaaaa, $alpha: 0.5);
  // border-width: thin;
  box-shadow: 1px 3px 2px 0px rgba($color: #888, $alpha: 0.3);
}
.bar {
  fill: #4f009e;
}
.label {
  fill: #4f009e;
}